// SCSS variables for use throughout the theme

// Colours
$purple: var(--temp-bg-color);
$black: var(--temp-bg-color-2);

// Sizes
$size-xxs: 1px;
$size-xs: 2px;
$size-s: 4px;
$size-m: 8px;
$size-l: 16px;
$size-xl: 32px;
$size-xxl: 64px;
