@use "sass:list";
@use "sass:math";

// Inputs:
//   $hsl: colors set by Discord
//   $preserveSat: if true preserve provided saturation
@function adjust($hsl, $preserveSat: false) {
    $hue: nth($hsl, 1);
    $sat: nth($hsl, 2);
    $lum: nth($hsl, 3);
    $alpha: 1;
    @if list.length($hsl) == 4 {
        $alpha: nth($hsl, 4);
    }

    // eg. 240 7.7% 2.5%
    // hue: 210-240 (225 +- 15)
    // sat: 0-13% (we want to expand this to 0-100%)
    // lum: 0-100%

    $huediff: $hue - 225;

    @if not $preserveSat {
        // Discord's default 0-13% saturation expanded to 0-100%
        $sat: calc($sat * (100% / 13%));
    }
    // Convert into number because calc() requires one of the operands to be unitless
    // In hsl(), saturation s and luminance l from origin color is already a percentage
    $satdiff: math.div($sat, 100%);

    // Has to be done as string interpolation because / being interpreted as division instead of separator
    // Bug in Sass 1.x (to be fixed in 2.0 by enforcing division in calc() only)
    @return "hsl(from var(--systemcolor-base) calc(h + #{$huediff}) calc(s * #{$satdiff}) #{$lum} / calc(alpha * #{$alpha}))";
}
