@use "../func" as *;

:root {
    --brand-100: #{adjust(240 77.8% 98.2%, true)};
    --brand-130: #{adjust(236 87.5% 96.9%, true)};
    --brand-160: #{adjust(235 84.6% 94.9%, true)};
    --brand-200: #{adjust(236 83.3% 92.9%, true)};
    --brand-230: #{adjust(236 87% 91%, true)};
    --brand-260: #{adjust(235 86.2% 88.6%, true)};
    --brand-300: #{adjust(235 86.1% 85.9%, true)};
    --brand-330: #{adjust(235 85.1% 81.6%, true)};
    --brand-345: #{adjust(235 85.2% 78.8%, true)};
    --brand-360: #{adjust(235 86.1% 77.5%, true)};
    --brand-400: #{adjust(235 86.1% 71.8%, true)};
    --brand-430: #{adjust(235 85.7% 69.8%, true)};
    --brand-460: #{adjust(235 85.5% 67.5%, true)};
    --brand-500: #{adjust(235 85.6% 64.7%, true)};
    --brand-530: #{adjust(235 66.7% 58.8%, true)};
    --brand-560: #{adjust(235 51.4% 52.4%, true)};
    --brand-600: #{adjust(235 46.7% 44.1%, true)};
    --brand-630: #{adjust(235 46.7% 38.2%, true)};
    --brand-660: #{adjust(235 47.1% 33.3%, true)};
    --brand-700: #{adjust(235 47% 25.9%, true)};
    --brand-730: #{adjust(235 46.8% 24.3%, true)};
    --brand-760: #{adjust(234 46.9% 22.2%, true)};
    --brand-800: #{adjust(235 47.5% 19.4%, true)};
    --brand-830: #{adjust(235 47.4% 14.9%, true)};
    --brand-860: #{adjust(235 46.9% 9.6%, true)};
    --brand-900: #{adjust(233 50% 3.1%, true)};
}
