// Inputs

// Toggle switch
.control_ed1d57 {
    @at-root .container_cebd1c {
        color: var(--primary-400);
        &.checked_cebd1c {
            color: var(--green-360);
        }

        background-color: currentColor !important;
        path {
            fill: currentColor;
        }
    }
}
